<h2>Notes: General</h2>
<div id="note_categories">
	<a href="/notes">All</a>
	<a class="current" href="/notes/GENERAL">General</a>
	<a href="/notes/BOOKING">Bookings</a>
	<a href="/notes/CLIENT">Clients</a>
	<a href="/notes/HORSE">Horses</a>
	<a href="/notes/STAFF">Instructor</a>
</div>
<a href="/notes/new/GENERAL" style="float:right;padding:5px;">Create New Note</a>
<%= render :partial => "table" %>