<h2>Preferences & Site Settings</h2>
<div class="show_section">
	<h3>Preferences</h3>
	<table>
		<tr>
			<th>Clock Style:</th>
			<td>
				<select class="field" id="clock_style">
					<option value="swissRail">Swiss Rail</option>
					<option value="chunkySwiss">Chunky Swiss</option>
					<option value="fancy">Fancy</option>
					<option value="simple">Simple</option>
					<option value="classic">Classic</option>
					<option value="modern">Modern</option>
				</select>
			</td>
		</tr>
		<tr>
			<th style="vertical-align:middle;">Price List:</th>
			<td>
				<textarea class="field" cols="50" rows="15" id="price_list"><%= @price_list %></textarea>
			</td>
		</tr>
	</table>
</div>
<div class="show_section">
	<h3>Site Settings</h3>
	<table>
		<tr>
			<th>Issue and Note Check Interval:</th>
			<td><input class="field" id="status_check_interval" type="number" style="width:50px;" /> mins</td>
		</tr>
		<tr>
			<th>Business Name:</th>
			<td><input class="field" id="business_name" style="width:400px;" /></td>
		</tr>
		<tr>
			<th>Business Address:</th>
			<td><input class="field" id="business_address" style="width:400px;" /></td>
		</tr>
		<tr>
			<th>Business Telephone:</th>
			<td><input class="field" id="business_telephone" style="width:400px;" /></td>
		</tr>
		<tr>
			<th>Business Email:</th>
			<td><input class="field" id="business_email" style="width:400px;" /></td>
		</tr>
	</table>
</div>
<div class="show_section">
	<h3>Clean Database</h3>
	<strong>WARNING! This will destroy bookings, events, payments and welfare records older than 2 months</strong><br/>
	<button onclick="clean_database()">Execute</button>
</div>
<div style="text-align:center;">
	<button id="update">Update</button><br/>
	<div id="success" style="padding-top:10px;text-align:center;"></div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$.each(JSON.parse('<%= @preferences.to_json.html_safe %>'), function(i,preference) {
			$("select#"+preference.name).val(preference.value);
		})
		$.each(JSON.parse('<%= @site_settings.to_json.html_safe %>'), function(i,setting) {
			$("input#"+setting.name).val(setting.value);
		})

		$("button#update").click(function() {
			$("div#success").html("");
			var params = {
				preferences: {},
				site_settings: {}
			}
			$.each($("select.field"), function(i,preference) {
				params.preferences[$(preference).attr("id")] = $(preference).val();
			})
			$.each($("textarea.field"), function(i,preference) {
				params.preferences[$(preference).attr("id")] = $(preference).val();
			})
			$.each($("input.field"), function(i,setting) {
				params.site_settings[$(setting).attr("id")] = $(setting).val();
			})
			$.ajax({
				url: "/admin/update_settings",
				type: "POST",
				data: params,
				success: function() {
					$("div#success").html("Preferences & Site Settings were successfully updated!");
				}
			})
		})
	})

	function clean_database() {
		jQuery.fancybox({
			'overlayShow' : true,
			'padding' : 0,
			modal : true,
			content : "<div class='popup_wrapper' id='confirm_popup'><h3>CLEAN DATABASE</h3><div class='popup_content reduced_height'><p>Are you sure you want to clean the database out?</p><p>WARNING! This will destroy events, bookings and payments older than 2 months</p></div><div class=\"options\"><input id=\"fancyConfirm_cancel\" class=\"btn cancel_btn\" type=\"button\" value=\"Cancel\"><input id=\"fancyConfirm_ok\" class=\"btn ok_btn\" type=\"button\" value=\"Ok\" style=\"width:66px;\"></div></div>",
			onComplete : function() {
				jQuery("#fancyConfirm_cancel").click(function() {
					jQuery.fancybox.close();
				})
				jQuery("#fancyConfirm_ok").click(function() {
					$.ajax({
						url: "/admin/clean_database",
						type: "POST",
						success: function() {
							jQuery.fancybox.close();
						}
					})
				})
			}
		});
	}
</script>