<h2>Staff</h2>
<% if current_user.user_level != User::BASE %>
	<a href="/staff/new" style="float:right;padding:5px;">Add New Staff</a>
<% end %>
<table id="staff" style="width:100%;">
	<tr class="header">
		<th class="sorted sortable" sort="last_name" style="width:15%;"><span class="sort"></span>Name</th>
		<th class="sortable" sort="date_of_birth" style="width:13%"><span class="sort"></span>Date of Birth</th>
		<th class="sortable" sort="role" style="width:15%;"><span class="sort"></span>Role</th>
		<th style="width:33%;">Address</th>
		<th style="width:15%;">Phone</th>
		<th>Links</th>
	</tr>
	<%= render :partial => "table_contents" %>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		$.each($("th.sortable"), function(i,sort) {
			$(sort).unbind("click").click(function() {
				$("th.sortable").removeClass("sorted");
				$(this).addClass("sorted")
				$.ajax({
					url: "/staff/sort/"+$(this).attr("sort"),
					type: "GET",
					success: function(json) {
						$('table#staff tr:not(.header)').remove();
						$('table#staff').append(json);
					}
				})
			})
		})
	})
</script>