<h2>New Staff</h2>
<%= render :partial => "form" %>
<button id="cancel" onclick="window.location.replace('/staff')">Cancel</button><button id="save" onclick="save('/staff','/staff/create')">Save</button>