<h2>Edit <%= @horse.name if @horse.name %></h2>
<%= render :partial => "form" %>
<button id="cancel" onclick="window.location.replace('/horses')">Cancel</button><button id="save" onclick="save('/horses','/horses/create')">Save</button>