<h2>Horses</h2>
<% if current_user.user_level != User::BASE %>
	<a href="/horses/new" style="float:right;padding:5px;">|&nbsp;&nbsp;&nbsp;Add New Horse</a>
<% end %>
<a href="/horses/leased" style="float:right;padding:5px;">Leased Horses</a>
<table id="horses" style="width:100%;">
	<tr class="header">
		<th class="sorted sortable" sort="name" mod="ASC" style="width:25%;"><span class="sort"></span>Name</th>
		<th class="sortable" sort="max_day_workload" mod="DESC" style="width:25%;"><span class="sort"></span>Max Day Workload</th>
		<th class="sortable" sort="availability" mod="DESC" style="width:25%;"><span class="sort"></span>Availability</th>
		<th>Links</th>
	</tr>
	<%= render :partial => "table_contents" %>
</table>

<script type="text/javascript">
	$(document).ready(function() {
		$.each($("th.sortable"), function(i,sort) {
			$(sort).unbind("click").click(function() {
				$("th.sortable").removeClass("sorted");
				$(this).addClass("sorted");
				($(this).attr("mod") == "ASC") ? $(this).attr("mod", "DESC") : $(this).attr("mod", "ASC");
				$.ajax({
					url: "/horses/sort/"+$(this).attr("sort")+"/"+$(this).attr("mod"),
					type: "GET",
					success: function(json) {
						$('table#horses tr:not(.header)').remove();
						$('table#horses').append(json);
					}
				})
			})
		})
	})
</script>