<h2>New Horse</h2>
<%= render :partial => "form" %>
<ul class="error" id="form_errors"></ul>
<button id="cancel" onclick="window.location.replace('/horses')">Cancel</button><button id="save" onclick="save('/horses','/horses/create')">Save</button>