<% if !@results.empty? %>
	<tr>
		<% @results.each_with_index do |client,i| %>
			<% if i%7==0 && i>0 %>
				</tr>
				<tr>
			<% end %>
			<td class="result" client_id="<%= client.id %>"><%= client.first_name if client.first_name %> <%= client.last_name if client.last_name %></td>
		<% end %>
	</tr>
<% else %>
	<td>No clients found</td>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$.each($("td.result"), function(i,result) {
			$(result).unbind("click").click(function() {
				$.ajax({
					url: "/bookings/get_client/"+$(this).attr("client_id"),
					type: "GET",
					success: function(json) {
						$("table.client_search").hide();
						$("table.client_fields").show();
						$("table.client_notes").show();
						$("table.client_fields").html(json.fields);
						$("table.client_notes").html(json.notes);
					}
				})
			})
		})
	})
</script>
