<h2>Bookings</h2>

<div id="upcoming_bookings">
	<%= render :partial => "upcoming" %>
</div>

<div id="booking_controls">
	<table id="booking_links">
		<tr>
			<td link="/bookings/new">New</td>
			<td link="/bookings/search">Find</td>
			<td id="auto_assign" date="<%= Date.today.strftime('%d-%m-%Y') %>">Assign</td>
			<td id="assign_edit" link="/bookings/assign_edit" date="<%= Date.today.strftime('%d-%m-%Y') %>">Edit</td>
		</tr>
	</table>
</div>

<div id="booking_unconfirmed">
	<h3>Unconfirmed Bookings</h3>
	<%= render :partial => "unconfirmed_table" %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$.each($("#booking_links td"), function(i,link) {
			$(link).unbind("click").click(function() {
				window.location.href = $(this).attr("link");
			})
		})
		$("#auto_assign").unbind("click").click(function() {
			fancyConfirmAutoAssign($("#auto_assign").attr("date"));
		})
	})
</script>