<h2>New Event/Booking</h2>
<%= render :partial => "form" %>
<button id="cancel" onclick="window.location.replace('/bookings')">Cancel</button><button id="save" onclick="complete_booking()">Save</button>