<h2>New Event/Booking</h2>
<%= render :partial => "form" %>
<ul class="error" id="form_errors"></ul>
<button id="cancel" onclick="window.location.replace('/bookings')">Cancel</button><button id="save" onclick="completeBooking()">Save</button><button id="save_and_add" onclick="completeBookingAndAdd()">Save And Add Another Booking</button>