<h2>Edit <%= @user.username if @user.username %></h2>
<%= render :partial => "form" %>
<button id="cancel" onclick="window.location.replace('/admin/users')">Cancel</button><button id="save" onclick="save('/admin/users','/admin/users/update/<%= @user.username %>')">Save</button>