<div id="company_info">
	<strong>Rycroft School of Equitation</strong><br/>
	New Mill Lane, Eversley, Hampshire, RG27 0RA<br/>
	Tel: 01189 732 761 - Email: rycroft.riding@btopenworld.com
</div>
<div id="powered_by">
	Powered By: 
	<%= image_tag "icons/rails.png", :size => "20x25" %>
	<%= image_tag "icons/heroku.png", :size => "75x25" %><br/>
	Design & Build: <strong>Mark Oliver</strong>
</div>