<div id="title" style="color:black;"><span class="oversize">R</span>ycroft <span class="oversize">S</span>table <span class="oversize">M</span>anagement</div>
<div id="search_bar"><button id="price_list" style="margin-right:30px;" onclick="fancyPriceList();">Price List</button><%= text_field_tag "search_field", "", :placeholder => "Client Search" %><button id="search">Search</button></div>
<div id="toolbar">
	<div id="menu"><%= render :partial => "/shared/menu" %></div>
	<div id="user"><a href="/account"><%= current_user.first_name+' '+current_user.last_name rescue current_user.username %></a> | <a href="/logout">Logout</a></div>
</div>