<div class="menu_link">
	<a href="/" class="head_link">Home</a>
</div>

<div class="menu_link">
	<a href="/schedule" class="head_link">Schedule</a>
</div>

<% if current_user.user_level != User::BASE %>
	<div class="menu_link">
		<a href="/bookings" class="head_link">Bookings</a><br/>
		<div class="sub_links">
			<a href="/bookings/new" class="sub_link">New</a><br/>
			<a href="/notes/BOOKING" class="sub_link">Notes</a>
		</div>
	</div>
<% end %>

<div class="menu_link">
	<a href="/clients" class="head_link">Clients</a><br/>
	<% if current_user.user_level != User::BASE %>
		<div class="sub_links">
			<a href="/clients/new" class="sub_link">New</a><br/>
			<a href="/notes/CLIENT" class="sub_link">Notes</a>
		</div>
	<% end %>
</div>

<div class="menu_link">
	<a href="/horses" class="head_link">Horses</a><br/>
	<% if current_user.user_level != User::BASE %>
		<div class="sub_links">
			<a href="/horses/new" class="sub_link">New</a><br/>
			<a href="/notes/HORSE" class="sub_link">Notes</a><br/>
		</div>
	<% end %>
</div>

<div class="menu_link">
	<a href="/staff" class="head_link">Instructors</a><br/>
	<% if current_user.user_level != User::BASE %>
		<div class="sub_links">
			<a href="/staff/new" class="sub_link">New</a><br/>
			<a href="/notes/STAFF" class="sub_link">Notes</a>
		</div>
	<% end %>
</div>

<div class="menu_link">
	<a href="/notes" class="head_link">Notes</a>
</div>

<% if current_user.user_level != User::BASE %>
	<div class="menu_link">
		<a href="/other_payment" class="head_link">Sales</a>
	</div>
<% end %>

<% if current_user.user_level != User::BASE %>
	<div class="menu_link">
		<a href="/cash_up" class="head_link">Cash Up</a>
	</div>
<% end %>

<div class="menu_link">
	<a href="/reports" class="head_link">Reports</a>
</div>

<% if current_user.user_level == User::MASTER %>
	<div class="menu_link">
		<a href="/admin" class="head_link">Admin</a><br/>
		<div class="sub_links">
			<a href="/admin/users" class="sub_link">Users</a><br/>
			<a href="/admin/venues" class="sub_link">Venues</a><br/>
			<a href="/admin/settings" class="sub_link">Settings</a><br/>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$('div.menu_link').mouseenter(function() {
			$(this).find('div.sub_links').fadeIn('fast');
		}).mouseleave(function() {
			$(this).find('div.sub_links').fadeOut('fast');
		})
	})
</script>