<div id="logo" class="center">
	<%= image_tag "logo.jpeg" %>
</div>
<div id="login_form" class="center">
	<span id="login_error"><%= @error if @error %></span><br/>
	<%= text_field_tag :username, nil, :placeholder => 'Username', :autocomplete => "off" %><br/>
	<%= password_field_tag :password, "", :placeholder => "Password" %><br/>
	<button id="login">Login</button>
</div>