<div id="home_row_1">
	<div class="home_panel home_left" id="next_up">
		<div class="home_content">
			<%= render :partial => "next_up" %>
		</div>
		<div class="home_title" id="next_up_title">Next Up</div>
	</div>
	<div class="home_panel home_right" id="issues">
		<div class="home_content">
			<%= render :partial => "issues" %>
		</div>
		<div class="home_title" id="issues_title">Issues</div>
	</div>
</div>
<div id="home_row_2">
	<div class="home_panel home_left" id="reports">
		<div class="home_title" id="reports_title">Reports</div>
		<div class="home_content">
			<%= render :partial => "reports" %>
		</div>
	</div>
	<div class="home_panel home_right" id="notes">
		<div class="home_title" id="notes_title">Notes</div>
		<div class="home_content">
			<%= render :partial => "notes" %>
		</div>
	</div>
</div>