<div>
	<table class="welfare_header">
		<tr>
			<td style="width:12%;" class="welfare_link calendar_link" type="FARRIER">Farrier</td>
			<td style="width:12%;" class="welfare_link calendar_link" type="WORMING">Worming</td>
			<td style="width:12%;" class="welfare_link calendar_link" type="DENTIST">Dentist</td>
			<td style="width:12%;" class="welfare_link calendar_link selected" type="ALL">All</td>
			<td style="width:12%;" class="welfare_link calendar_link" type="PHYSIO">Physio</td>
			<td style="width:12%;" class="welfare_link calendar_link" type="VACCINATION">Vaccination</td>
			<td style="width:12%;" class="welfare_link calendar_link" type="OTHER">Other</td>
			<td style="width:4%;">&nbsp;</td>
			<td style="width:12%;" class="welfare_link" href="/welfare">Back >></td>
		</tr>
		<tr class="welfare_sep"></tr>
		<tr>
			<td colspan="2" style="width:28%;text-align:left;"><< Previous Month</td>
			<td colspan="5" style="width:42%;text-align:center;"><h2>November 2012</h2></td>
			<td colspan="2" style="width:28%;text-align:right;">Next Month >></td>
		</tr>
	</table>
</div>

<div>
	<table id="welfare_calendar">
		<tr>
			<th style="width:14%;">Monday</th>
			<th style="width:14%;">Tuesday</th>
			<th style="width:14%;">Wednesday</th>
			<th style="width:14%;">Thursday</th>
			<th style="width:14%;">Friday</th>
			<th style="width:14%;">Saturday</th>
			<th style="width:14%;">Sunday</th>
		</tr>
		<tr class="welfare_week">
			<td class="out_of_scope">
				<div>
					<span class="welfare_date">29</span>
				</div>
			</td>
			<td class="out_of_scope">
				<div>
					<span class="welfare_date">30</span>
				</div>
			</td>
			<td class="out_of_scope">
				<div>
					<span class="welfare_date">31</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">1</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">2</span>
					<ul>
						<li>Farrier: Chips, Zac</li>
						</li>Worming: Benny</li>
					</ul>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">3</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">4</span>
				</div>
			</td>
		</tr>
		<tr class="welfare_week">
			<td>
				<div>
					<span class="welfare_date">5</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">6</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">7</span>
				</div>
			</td>
			<td class="today">
				<div>
					<span class="welfare_date">8</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">9</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">10</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">11</span>
				</div>
			</td>
		</tr>
		<tr class="welfare_week">
			<td>
				<div>
					<span class="welfare_date">12</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">13</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">14</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">15</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">16</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">17</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">18</span>
				</div>
			</td>
		</tr>
		<tr class="welfare_week">
			<td>
				<div>
					<span class="welfare_date">19</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">20</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">21</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">22</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">23</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">24</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">25</span>
				</div>
			</td>
		</tr>
		<tr class="welfare_week">
			<td>
				<div>
					<span class="welfare_date">26</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">27</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">28</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">29</span>
				</div>
			</td>
			<td>
				<div>
					<span class="welfare_date">30</span>
				</div>
			</td>
			<td class="out_of_scope">
				<div>
					<span class="welfare_date">1</span>
				</div>
			</td>
			<td class="out_of_scope">
				<div>
					<span class="welfare_date">2</span>
				</div>
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$.each($("table td.welfare_link:not(.calendar_link)"), function(i,link) {
			$(link).unbind("click").click(function() {
				window.location.href = $(this).attr("href");
			});
		});

		$.each($("table td.calendar_link"), function(i,link) {
			$(link).unbind("click").click(function() {
				$("td.calendar_link").removeClass("selected");
				$(this).addClass("selected");
			});
		});
	});
</script>