<div>
	<table class="welfare_header">
		<tr>
			<td style="width:15%;" class="welfare_link" href="/welfare/calendar">Calendar</td>
			<td colspan="2" style="width:70%;"><h2>Due this Week</h2></td>
			<td style="width:15%;" class="welfare_link" href="/welfare/horses">Horses</td>
		</tr>
		<tr class="welfare_sep"></tr>
		<tr>
			<td colspan="2" style="width:50%;text-align:left;"><< Previous Week</td>
			<td colspan="2" style="width:50%;text-align:right;">Next Week >></td>
		</tr>
	</table>
</div>

<div>
	<table id="due_this_week">
		<tr>
			<th class="due_title">Farrier</th>
			<td class="due_data">
				<table class="due_list">
					<tr>
						<td><input type="checkbox">Chips - Front and back</td>
						<td><input type="checkbox">Rex - Trim</td>
						<td><input type="checkbox">Kohana - Front and back</td>
					</tr>
					<tr>
						<td><input type="checkbox">Zac - Front only</td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<th class="due_title">Worming</th>
			<td class="due_data">
				<table class="due_list">
					<tr>
						<td><input type="checkbox">Chips</td>
						<td><input type="checkbox">Rex</td>
						<td><input type="checkbox">Kohana</td>
					</tr>
					<tr>
						<td><input type="checkbox">Zac</td>
						<td><input type="checkbox">Benny</td>
						<td><input type="checkbox">Crystal</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<th class="due_title">Teeth</th>
			<td class="due_data">
				<table class="due_list">
					<tr>
						<td><input type="checkbox">Benny</td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<th class="due_title">Physio</th>
			<td class="due_data"></td>
		</tr>
		<tr>
			<th class="due_title">Vaccinations</th>
			<td class="due_data"></td>
		</tr>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$.each($("table td.welfare_link"), function(i,link) {
			$(link).unbind("click").click(function() {
				window.location.href = $(this).attr("href");
			});
		});
	});
</script>