<h2>New Stock Item</h2>
<%= render :partial => "form" %>
<ul class="error" id="form_errors"></ul>
<button id="cancel" onclick="window.location.replace('/stock')">Cancel</button><button id="save" onclick="save('/stock','/stock/create')">Save</button>