/* INDEX */
#upcoming_bookings {
  width: 70%;
  height: 418px;
  float: left;
  padding: 5px;
  margin-top: 5px;
  border: 2px solid #5f5f5f;
  border-radius: 10px;
}

#upcoming_bookings #upcoming_title {
  float: left;
  text-align: center;
  width: 80%;
  margin-bottom: 10px;
}

#booking_controls {
  float: right;
  width: 29%;
}

#booking_notes {
  float: right;
  height: 348px;
  width: 27%;
  padding: 5px;
  margin-top: 5px;
  border: 2px solid #5f5f5f;
  border-radius: 10px;
}

#booking_links {
  margin: 0 auto;
  border: 0;
  border-collapse: separate;
  border-spacing: 10px;
}

#booking_links td {
  vertical-align: center;
  text-align: center;
  width: 20%;
  line-height: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

#booking_links td:hover {
  background-color: rgba(0,0,0,0.1);
}

/* NEW */
tr.spaced td {
  padding-right: 20px;
}

/* VENUE TIMETABLE */
#venue_timetable {
  margin-top: 10px;
  width: 100%;
}

#venue_timetable td.selected {
  background-color: yellow;
}

#venue_timetable td.used {
  background-color: red;
}

#venue_timetable td.first {
  border-left-width: 3px;
}

#venue_timetable td.last {
  border-right-width: 3px;
}

#client_search_results td.result {
  border:1px solid #5f5f5f;
  padding: 2px 10px;
  cursor: pointer;
}

#client_search_results td.result:hover {
  background-color: rgba(0,0,0,0.1);
}
