#ui-datepicker-div {
  background-color:white;
  border:1px solid #5f5f5f;
}

.ui-datepicker-prev {
  float:left;
}

.ui-datepicker-next {
  float:right;
}

.ui-datepicker-title {
  float:center;
  text-align:center;
}

.ui-datepicker-current-day {
  background-color: #FFFFAA;
}

.ui-datepicker-today {
  font-weight:bold;
}

td >> .ui-state-hover {
  background-color: #CCCCCC;
}