div.home_panel {
  width: 48%;
  height: 205px;
  border: 1px solid #5F5F5F;
}

div.home_left {
  float:left;
}

div.home_right {
  float:right;
}

div.home_left div.home_content {
  overflow-y: auto;
}

div.home_right div.home_content {
  overflow-y: auto;
  direction: rtl;
  text-align: left;
}

div#next_up {
  border-radius: 0 0 25px 0;
}

div#issues {
  border-radius: 0 0 0 25px;
}

div#reports {
  border-radius: 0 25px 0 0;
}

div#notes {
  border-radius: 25px 0 0 0;
}

div.home_content {
  height: 180px;
}

div.home_title {
  font-size: 20px;
  height: 25px;
  padding: 0 5px;
}

div.home_left div.home_title {
  float: left;
}

div.home_right div.home_title {
  float: right;
}

tr.result {
  cursor: pointer;
}

tr.result:hover {
  background-color: rgba(0,0,0,0.1);
}

div#clock_wrapper {
  position: relative;
  clear: both;
  top: -10px;
  text-align: center;
  height: 40px;
}

div#clock_wrapper div#date_wrapper_1 {
  position: relative;
  top: 25px;
  float:left;
  padding-left: 35%;
  width: 10%;
  text-align: right;
}

div#clock_wrapper div#date_wrapper_2 {
  position: relative;
  top: 25px;
  float:right;
  padding-right: 35%;
  width: 10%;
}

/* PANEL LISTS */
ul.home_list {
  width: 100%;
}

ul.home_list li {
  border-bottom: 1px solid #5F5F5F;
  padding: 5px;
}

ul.home_list li.odd {
  background-color: rgba(0,0,0,0.1);
}

div.nothing_to_display {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

table#next_up, table#next_up td {
  border: 0;
}

table#next_up tr.odd {
  background-color: rgba(0,0,0,0.1);
}