div#home_col_left {
  float:left;
  width: 46%;
}

div#home_col_right {
  float:right;
  width: 48%;
}

div.home_panel {
  width: 100%;
  height: 205px;
  border: 1px solid #5F5F5F;
}

div.home_left div.home_content {
  overflow-y: auto;
}

div.home_right div.home_content {
  overflow-y: auto;
  direction: rtl;
  text-align: left;
}

div#schedule {
  height: 452px;
}

div#issues {
  border-radius: 0 0 0 25px;
}

div#notes {
  border-radius: 25px 0 0 0;
}

div.home_content {
  height: 180px;
}

div#schedule div.home_content {
  height: 422px;
}

div#schedule div.home_footer {
  height: 30px;
  text-align: center;
}

div#schedule tr.today_hover {
  background-color: #CCC!important;
  cursor: pointer;
}

div.home_title {
  font-size: 20px;
  height: 25px;
  padding: 0 5px;
}

div.home_left div.home_title {
  float: left;
}

div.home_right div.home_title {
  float: right;
}

tr.result {
  cursor: pointer;
}

tr.result:hover {
  background-color: rgba(0,0,0,0.1);
}

div#clock_wrapper {
  position: relative;
  clear: both;
  top: -10px;
  left: -45px;
  height: 40px;
}

div#clock_wrapper canvas#clock {
  float:left;
}

div#clock_wrapper div#date_wrapper {
  position: relative;
  top: 25px;
  float:left;
  padding-left: 20px;
}

/* PANEL LISTS */
ul.home_list {
  width: 100%;
  direction: ltr;
  list-style: none;
}

ul.home_list li {
  border-bottom: 1px solid #5F5F5F;
  padding: 5px;
}

ul.home_list li.odd {
  background-color: rgba(0,0,0,0.1);
}

div.nothing_to_display {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

table#next_up, table#next_up td {
  border: 0;
}

table#next_up tr.odd {
  background-color: rgba(0,0,0,0.1);
}

div.home_reports_panel {
  width: 49%;
  height: 180px;
  margin-left: 1%;
  float: left;
}

div.home_reports_panel span.home_report_title {
  padding-left: 10px;
  font-size: 16px;
}

div#price_list_content {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  text-align: center;
}

div#price_list_content h2 {
  border-bottom: 1px solid black;
}

div#price_list_content table {
  margin-top: 10px;
}