/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  font-weight:inherit;
  font-style:inherit;
  font-size:100%;
  font-family:inherit;
  vertical-align:baseline;
}

textarea {
  resize:none;
}

ul.error {
  margin: 0 0 5px 20px;
  color: red;
}

/* GLOBAL */
html {
  background-color: black;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 12px;
}

a:hover {
  color: #5A5154;
}

button.on {
  font-weight: bold;
}

/* MAIN */
#main {
  background-color: #D4CFD0;
  border-radius: 20px;
  margin: 20px;
}

/* HEADER */
#header {
  padding: 10px 20px 0 20px;
  height: 50px;
  border-bottom: 2px solid #5A5154;
}

#header #title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  float: left;
}

#header #search_bar {
  float: right;
}

#header #title .oversize {
  font-size: 25px;
}

#header #toolbar {
  clear: both;
}

#header #user {
  float: right;
}

#header #menu .menu_link {
  width: 8%;
  float: left;
}

#header #menu .menu_link a {
  padding: 5px;
}

#header #menu .menu_link .sub_links {
  position: absolute;
  width: 7%;
  margin-top: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #D4CFD0;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: #5A5154;
  z-index: 100;
  display: none;
}

/* CONTENT */
#appcontent {
  min-height: 460px;
  padding: 20px;
  background-color: white;
  background-image: url("logo3.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* FOOTER */
#footer {
  padding: 20px;
  height: 50px;
  border-top: 2px solid #5A5154;
}

#footer #company_info {
  float: left;
}

#footer #issues_footer {
  width: 300px;
  height: 50px;
  margin: auto;
  text-align: center;
  border: 1px solid #5F5F5F;
}

#footer #issues_footer span, #footer #issues_footer a {
  display: inline-block;
  margin-top: 7px;
}

#footer #powered_by {
  float: right;
  position: relative;
  top: -5px;
  line-height: 25px;
}

#powered_by img {
  position: relative;
  top: 7px;
}

/* TABLES */
table, td, th {
  border-collapse: collapse;
  border: 1px solid #5f5f5f;
  padding: 2px;
  word-wrap: break-word;
}

table.form_table, table.form_table td {
  border: 0;
}

th {
  background-color: #5f5f5f;
  color: white;
  font-size: 14px;
}

th.sorted {
  font-weight: bold;
  font-style: italic;
}

th.sortable {
  padding-left: 18px;
  cursor: pointer;
}

table span.sort {
  margin-left: -16px;
  position: absolute;
  background-image: url("icons/sort.png");
  width: 14px;
  height: 14px;
}

/* FORMS */
.form_section {
  padding: 10px;
  border-bottom: 1px solid #5f5f5f;
  margin-bottom: 10px;
}

input.long {
  width: 200px;
}

input.short {
  width: 50px;
}

input.break_right_small {
  margin-right: 20px;
}

input.break_right {
  margin-right: 40px;
}

.show_section {
  padding: 10px;
  border-bottom: 1px solid #5f5f5f;
  margin-bottom: 10px;
  text-align: center;
}

.show_section h3 {
  text-align: center;
}

.show_section table {
  margin: 5px auto;
}
