div#report_controls {
  text-align: center;
  padding: 20px;
}

div.report_panel {
  float:left;
  width: 49%;
  height: 250px;
  margin-bottom: 20px;
}
div.report_panel_2 {
  float:left;
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

div.report_panel h3 {
  text-align: center;
}