body {
  font-size: 12px;
  text-align: left;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #5f5f5f;
  margin:0;
  padding:0;
  height: 100%;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  text-align: left;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 15px;
  text-decoration: underline;
}

.error {
  color: red;
}