table.welfare_header {
	width: 100%;
	border: none;
}

table.welfare_header td {
	border: none;
}

table.welfare_header td.selected {
	background: rgba(0, 0, 0, 0.2);
}

tr.welfare_sep {
	height: 10px;
}

td.welfare_link {
	cursor: pointer;
	background-color: rgba(0,0,0,0.05);
	border: 1px solid #5F5F5F!important;
	text-align: center;
}

td.welfare_link:hover {
	background-color: rgba(0,0,0,0.1);
}

table#due_this_week {
	width: 100%;
}

th.due_title {
	width: 15%;
	text-align: right;
	padding-right: 10px;
}

td.due_data {
	width: 85%;
	padding-left: 10px;
	padding-bottom: 20px;
}

table.due_list {
	width: 100%;
	border: none;
}

table.due_list td {
	width: 33%;
	border: none;
}

table#welfare_calendar {
	width: 100%;
}

table#welfare_calendar tr.welfare_week {
	height: 100px;
}

table#welfare_calendar tr.welfare_week td {
	cursor: pointer;
	background-color: rgba(0,0,0,0.05);
}

table#welfare_calendar tr.welfare_week td.today {
	background-color: rgba(0,0,0,0.2);
}

table#welfare_calendar tr.welfare_week td.out_of_scope {
	color: #CCC;
	background-color: rgba(0,0,0,0);
}

table#welfare_calendar tr.welfare_week td:hover {
	background-color: rgba(0,0,0,0.1);
}

table#welfare_calendar ul {
	list-style: none;
}

input.repeat {
	width: 25px;
}

input.date {
	width: 75px;
}

input.comments {
	width: 96%;
}
